In [9]:
import pandas as pd
import nltk

## Data Processing

In [10]:
df = pd.read_csv('stock_data.csv')

In [11]:
df.head()

                                                Text  Sentiment
0  Kickers on my watchlist XIDE TIT SOQ PNK CPW B...          1
1  user: AAP MOVIE. 55% return for the FEA/GEED i...          1
2  user I'd be afraid to short AMZN - they are lo...          1
3                                  MNTA Over 12.00            1
4                                   OI  Over 21.37            1

In [12]:
# Check the number of positive and negative sentiments
df['Sentiment'].value_counts() # Slightly more positive than negative

Sentiment
 1    3685
-1    2106
Name: count, dtype: int64

In [13]:
# Define function to process the sentences